@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: "Roboto", sans-serif;
}
body {
    margin: 0;
    background-color: rgba(135, 135, 241, 0.1);

}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    border: 1px solid black;
    grid-column: 2 / span 4;
}

.sidebar {
    color: #ffffff;
    grid-row: 1/4;
    background-color: #38bdf8;
    gap: 15px;

    display: grid;
    grid-template-rows: auto auto 1fr;
}

.logo {
    display: flex;
    color: white;
    align-items: center;
    justify-items: center;
    flex: 1;
    margin-right: 16px;
}

.logotype {
    height: 3rem;
    margin: 8px;
}

.sidebar ul {
    list-style-type: none;
}


/*CUSTOM BULLET LIST*/
.home {
    list-style-image: url(./home.svg);
    font-weight: bold;
    padding-left: 8px;
}

.home::marker {
    font-size: 2.5rem;
    grid-column: 1/2;
}

.profile {
    list-style-image: url(./card-account-details-outline.svg);
    font-weight: bold;
    padding-left: 8px;
}

.profile::marker {
    font-size: 2rem;
}

.message {
    list-style-image: url(./message.svg);
    font-weight: bold;
    padding-left: 8px;
}

.message::marker {
    font-size: 2rem;
}

.history {
    list-style-image: url(./clock-time-three.svg);
    font-weight: bold;
    padding-left: 8px;

}

.history::marker {
    font-size: 2rem;
}

.task {
    list-style-image: url(./file-document-multiple.svg);
    font-weight: bold;
    padding-left: 8px;

}

.task::marker {
    font-size: 2rem;
}

.community {
    list-style-image: url(./account-group.svg);
    font-weight: bold;
    padding-left: 8px;

}

.community::marker {
    font-size: 2rem;
}

.settings {
    list-style-image: url(./cog.svg);
    font-weight: bold;
    padding-left: 8px;

}

.settings::marker {
    font-size: 2rem;
}

.support {
    list-style-image: url(./help-box.svg);
    font-weight: bold;
    padding-left: 8px;

}

.support::marker {
    font-size: 2rem;
}

.privacy {
    list-style-image: url(./shield-check.svg);
    font-weight: bold;
    padding-left: 8px;

}

.privacy::marker {
    font-size: 2rem;
}

.nav, 
.second-nav {
    padding-left: 50px;
}

/*END OF CUSTOM BULLETS*/

.searchbar {
    background-color: rgba(151, 151, 151, 0);
    height: 16px;

}

.searchbar::before {
   background-image: url(./magnify.svg);
   z-index: 10;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-right: 16px;
}

.project {
    background-color: #fff;
    display: grid;
    grid-template-rows: min-content;
    padding: 8px;
    margin: 16px;
    border-radius: 10px;
    border-left: 8px solid orange;
    box-shadow: 4px 4px rgba(190, 190, 190, 0.1);
}

.announcements, .trending {
    background-color: #fff;
    display: grid;
    padding: 8px;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(190, 190, 190, 0.1);
}

.right {
    display: grid;
    grid-column: 3 / 4;
    margin-top: 48px;
}

.main>p {
    position: absolute;
    margin-left: 16px;
    font-weight: bold;
}

.projects {
    margin-top: 48px;
    display: grid;
    grid-column: 1/3;
    grid-template-columns: repeat(2, 1fr);
}

.pleft {
    display: grid;
    grid-column: 1 / 2;
}

.pright {
    display: grid;
    grid-column: 2 / 3;
}

.icon {
    width: 20px;
    margin: 0 8px;
}

.icons {
    display: flex;
    justify-content: end;
}

.rbar {
    display: grid;
    margin-top: 48px;
}

.trending {
    margin-top: 48px;
}

.cont {
    height: 100px;
    border-bottom: 1px solid black;
    margin-left: 8px;
}
.cont>p{
    margin-top: 4px;
    font-size: small;
}

.cont>h5 {
    margin-bottom: 0;
}

.cont:last-child {
    border-bottom: none;
}

.announcements {
    display: grid;
    grid-template-rows: auto  auto minmax(0, 1fr);
    align-items: start;
    height: 300px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.trending {
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    
}

.profile-pictures {
    grid-column: 1/2;
    grid-row: span 4;
}

img {
    font-size: small;
    max-width: 15%;
    max-height: auto;
    border-radius: 100%;
    background-size: cover;
    background-position: 50%;
}

.usernames {
    grid-column: 2/3;
    grid-row: span 4;
}

.profile {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px;
}

/*SEARCHBAR AND HEADER*/

.header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    background-color: #fff;
}

.search {
    border: none;
    background-color: rgba(135, 135, 241, 0.1);
    height: 32px;
    border-radius: 10px;
    flex: 1;
}

.magnify {
    height: 24px;
}

.searchbar {
    margin-top: 40px;
    margin-left: 32px;
    display: flex;
    /* align-items: center; */
    place-items: center;
}

.alert {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 64px;
}

.bell {
    max-height: 24px;
}

.profile-pic {
    max-height: 48px;
    margin: 0 16px;
}

.user {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: start;
    object-fit: cover;
    margin-left: 32px;
    gap: 16px;
    /* grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
}

.avatar {
    background-image: url(./profile.jpeg);
    height: 100%;
}

.user-text>*{
    margin: 4px;
}

.buttons {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 48px;
}

.buttons>* {
    margin: 0 16px;
    padding: 8px 16px;
    border-radius: 16px;
    background-color: #38bdf8;
    border: none;
    color: white;
}